
{{#paper-toolbar class="page-navbar" data-test-page-navbar=true}}
  {{#paper-toolbar-tools}}
    {{#link-to "index" class="logo" data-test-page-navbar-logo=true}}
      <img src="/images/ams-be-logo-light-gray.png" alt="Logo" />
    {{/link-to}}
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      {{paper-link userName "settings" data-test-settings-link=true}}
      {{paper-button label="Logout" onClick=(action 'invalidateSession') data-test-logout-link=true}}
    {{else}}
      {{paper-link "Register" "register" raised=true data-test-register-link=true}}
      {{paper-link "Login" "login" raised=true data-test-login-link=true}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
