
<h1>Login</h1>

{{#paper-form class="layout-column layout-align-space-around-stretch"
  onSubmit=(action "submitLoginForm") data-test-login-form=true as |form|}}
  {{form.input label="Email" type="email" value=(get model "email")
    onChange=(action (mut (get model "email"))) icon="email" autofocus="autofocus"
    errors=model.validations.attrs.email.messages data-test-email=true}}
  {{form.input label="Password" type="password" value=(get model "password")
    onChange=(action (mut (get model "password"))) icon="lock"
    errors=model.validations.attrs.password.messages data-test-password=true}}
  {{form.submit-button label="Login" raised=true primary=true data-test-submit=true}}
{{/paper-form}}

{{#paper-button class="request-reset-password-button"
  onClick=(action "showResetPasswordDialog") data-test-request-reset-password-button=true}}
  If you don't remember your password <br /> click here to request to reset it.
{{/paper-button}}

{{#info-dialog showDialog=showDialog_Error dialogTitle=dialogTitle titleIcon='error'}}
  <p>
    {{dialogMessage}}
  </p>
  <p>
    Please try to fix it or try again later.
  </p>
  <p>
    If the problem persists, please contact the administrator.
  </p>
{{/info-dialog}}

{{#if showDialog_ResetPassword}}
    {{#paper-dialog class="flex-77"}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          {{dialog-title dialogTitle="Request Reset Password" titleIcon="question"}}
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "closeResetPasswordDialog" "cancel")}}
            {{paper-icon icon="close"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-form class="request-reset-password-form layout-column layout-align-space-around-stretch"
        onSubmit=(action "submitResetPasswordForm") as |form|}}
        {{#paper-dialog-content}}
            <p>
              Type in the email of your account:
            </p>
            <p>
              {{form.input label="Email" type="email" value=(get model "email")
                onChange=(action (mut (get model "email"))) icon="email" autofocus="autofocus"
                errors=model.validations.attrs.email.messages
                data-test-request-reset-password-email=true}}
            </p>
            <p>
              An email with instructions to reset
              <br />
              your password will be sent to you.
            </p>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
          <span class="flex"></span>
          {{paper-button label="Cancel" onClick=(action "closeResetPasswordDialog")
            data-test-request-reset-password-dialog-cancel-button=true}}
          {{form.submit-button label="Request reset password" data-test-request-reset-password-dialog-ok-button=true}}
        {{/paper-dialog-actions}}
      {{/paper-form}}

    {{/paper-dialog}}
{{/if}}
