
<h1>Register</h1>

{{#paper-form class="layout-column layout-align-space-around-stretch"
  onSubmit=(action "submitRegisterForm") data-test-register-form=true as |form|}}
  {{form.input label="Name" type="text" value=(get model "name")
    onChange=(action (mut (get model "name"))) icon="person" autofocus="autofocus"
    errors=model.validations.attrs.name.messages data-test-name=true}}
  {{form.input label="Email" type="email" value=(get model "email")
    onChange=(action (mut (get model "email"))) icon="email"
    errors=model.validations.attrs.email.messages data-test-email=true}}
  {{form.input label="Password" type="password" value=(get model "password")
    onChange=(action (mut (get model "password"))) icon="lock"
    errors=model.validations.attrs.password.messages data-test-password=true}}
  {{form.input label="Repeat password" type="password" value=(get model "repeatPassword")
    onChange=(action (mut (get model "repeatPassword"))) icon="lock"
    errors=model.validations.attrs.repeatPassword.messages data-test-repeat-password=true}}
  <p>By creating an account you agree to our <br /> terms of service and privacy policy.</p>
  {{#form.submit-button raised=true primary=true data-test-submit=true}}
    Register
  {{/form.submit-button}}
{{/paper-form}}

{{#info-dialog showDialog=showDialog_Error dialogTitle=dialogTitle titleIcon='error'}}
  <p>
    {{dialogMessage}}
  </p>
  <p>
    Please try to fix it or try again later.
  </p>
  <p>
    If the problem persists, please contact the administrator.
  </p>
{{/info-dialog}}
