
<h1>User account</h1>

{{#paper-form class="layout-column layout-align-space-around-stretch"
  onSubmit=(action "submitUserAccountForm") data-test-user-account-form=true as |form|}}
  {{form.input label="Name" type="text" value=(get model "name")
    onChange=(action (mut (get model "name"))) icon="person"
    errors=model.validations.attrs.name.messages data-test-name=true}}
  {{form.input label="Email" type="email" value=(get model "email")
    onChange=(action (mut (get model "email"))) icon="email"
    errors=model.validations.attrs.email.messages data-test-email=true}}
  {{#form.input label="Password" type="password" value=(get model "password")
    onChange=(action (mut (get model "password"))) icon="lock"
    errors=model.validations.attrs.password.messages data-test-password=true}}
    <div class="hint">(Leave empty to not change)</div>
  {{/form.input}}
  {{form.input label="Repeat password" type="password" value=(get model "repeatPassword")
    onChange=(action (mut (get model "repeatPassword"))) icon="lock"
    errors=model.validations.attrs.repeatPassword.messages data-test-repeat-password=true}}
  {{#form.submit-button raised=true primary=true data-test-submit=true}}
    Update
  {{/form.submit-button}}
{{/paper-form}}

{{#paper-button class="discreet-button"
  onClick=(action "showDeleteAccountConfirmationDialog") data-test-delete-account-button=true}}
  If you want to delete your account click here.
{{/paper-button}}

{{#info-dialog showDialog=showDialog_Error dialogTitle=dialogTitle titleIcon='error'}}
  <p>
    {{dialogMessage}}
  </p>
  <p>
    Please try to fix it or try again later.
  </p>
  <p>
    If the problem persists, please contact the administrator.
  </p>
{{/info-dialog}}

{{#info-dialog showDialog=showDialog_Info dialogTitle=dialogTitle titleIcon='info'}}
  <p>
    {{dialogMessage}}
  </p>
{{/info-dialog}}

{{#info-dialog showDialog=showDialog_Success dialogTitle=dialogTitle titleIcon='success'}}
  <p>
    {{dialogMessage}}
  </p>
{{/info-dialog}}

{{#if showDialog_DeleteAccountConfirmation}}
    {{#paper-dialog class="flex-77"}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          {{dialog-title dialogTitle="Delete Account Confirmation" titleIcon="question"}}
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "closeDeleteAccountConfirmationDialog")}}
            {{paper-icon icon="close"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <p data-test-delete-account-confirmation-message="true">
          Are you sure you want to delete your account?
        </p>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{paper-button label="Cancel" onClick=(action "closeDeleteAccountConfirmationDialog")
          data-test-delete-account-dialog-cancel-button=true}}
        {{paper-button label="Delete account" onClick=(action "deleteAccount")
          data-test-delete-account-dialog-ok-button=true}}
      {{/paper-dialog-actions}}

    {{/paper-dialog}}
{{/if}}
